*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'open sans';
}
.contenedor{
    padding: 60px 0 ;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color:rgb(22, 83, 216);
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;
    
}
/*Header*/
header{
    width: 100%;
    height: 550px;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(162, 100%, 74%, 0.692), hsla(99, 100%, 74%, 0.63)), url(../Imagenes/Portada.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(162, 100%, 74%, 0.692), hsla(99, 100%, 74%, 0.63)), url(../Imagenes/Portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align:right ;
    padding: 30px 50px 0 0;    
}
nav >a{
    color: azure;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav >a:hover{
    text-decoration: underline;    
}
header .textos-header{
    display:flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    text-align: center;

}
.textos-header h1{
    font-size: 50px;
    color: #fff;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: absolute;
    bottom:0;
    width: 100%;

}
/*About us*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    }
.imagen-about-us{
    width: 48%;
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;

}
.contenido-textos h3 span{
    background:rgba(203, 248, 3, 0.733);
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
html{
    scroll-behavior: smooth;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/*Galeria*/
.portafolio{
    background: #f2f2f2;
}
.galeria-portafolio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0  rgba(0, 0, 0, 0.5);

}
.imagen-port >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    
    background: hsla(83, 94%, 47%, 0.63);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: rgb(8, 8, 8);
}
.imagen-port:hover .hover-galeria{
    transform: scale(0);
}
.contenedor-botones{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: auto;
    margin-bottom: 40px;
}
.contenedor-botones > button > a{
    color: azure;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
.contenedor-botones> button:hover{
    text-decoration: underline;    
}
.uno{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 50px;
    background: rgba(119, 241, 19, 0.897);
    color: #fff;
    font-family: 'open sans';
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    
    transition: .3s ease all;
    border-radius: 20px;
}
.uno:hover{
    background: rgb(203, 248, 3);

}
/*Beneficios*/
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: rgba(203, 248, 3, 0.733);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(33, 9, 121);

}
.cards .card img{
    width:  100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgb(253, 253, 253);
    border-radius:  50%;
    display: block;
    
}
.cards .card >.contenido-texto-card{
    width: 60%;
    color: black;
    text-align: justify;
}
.cards .card > .contenido-texto-card-p {
    font-weight: 300;
    padding-top: 5px;
    
}
/*neuuuuuuu*/
.cards1{
    display: flex;
    justify-content: space-evenly;
}
.cards1 .card{
    background: rgba(203, 248, 3, 0.733);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(33, 9, 121);

}
.cards1 .card img{
    width:  100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgb(253, 253, 253);
    border-radius:  50%;
    display: block;
    
}
.cards1 .card >.contenido-texto-card{
    width: 60%;
    color: black;
    text-align: justify;
}
.cards1 .card > .contenido-texto-card-p {
    font-weight: 300;
    padding-top: 5px;
    
}
/*cont*/
.contac{
    background: #f2f2f2;
    padding-bottom: 30 px;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contac-ind{
    width: 20% ;
    text-align: center;
    grid-template-columns: repeat(3, 4fr);
}
.contac-ind img{
    width: 120px;
    height: 140px;
    border-radius: 10px;
    border: 3px solid rgba(203, 248, 3, 0.733);
}
.contac-ind h3{
    margin: 10% 0;
}
/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;


}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-top: 3px solid rgb(112, 240, 7) ;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
    
}
.tittulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20 px 0 0 0;
    color: rgb(112, 240, 7)
}